@font-face {
    font-family: 'Myanmar Taungthu';
    src: url('../fonts/myanmar_taung_thu.ttf');
}

.root {
    -fx-background-color: #333333;
}

.text, .text-field {
    -fx-font-family: 'Myanmar Taungthu';
    -fx-font-size: 16;
}
.key {
    -fx-border-color: #fff;
    -fx-border-width: 1;
    -fx-text-fill: #fff;
    -fx-background-color: #000;
}

#view {
    -fx-background-color: #000;
    -fx-pref-height: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-font-size: 20;
    -fx-text-fill: #e0e023;
}

#practice {
    -fx-background-color: #fff;
    -fx-pref-height: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-font-size: 20;
}

.button {
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-border-color: #FFF;
}

.combo-box .text-field {

    -fx-border-color: null;
}

.combo-box {
    -fx-background-color: black;
    -fx-border-color: white;
}

.combo-box .cell {
    -fx-text-fill: #FFF;
    -fx-alignment: center;
}

.combo-box-popup .list-view {
    -fx-background-color: #000;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #000;
    -fx-text-fill: #DDD;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #333;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: #e0e023;
    -fx-font-weight: bold;
}
.combo-box .arrow-button {
    -fx-padding: 0;
    -fx-opacity: 0;
}



#title {
    -fx-font-size: 22;
    -fx-font-family: 'Myanmar Taungthu';
}
