@font-face {
    font-family: 'A J Kunheing 6';
    src: url('../fonts/aj_kunheing6.ttf');
}

.label, .text{
    -fx-font-family: 'A J Kunheing 6';
    -fx-font-size: 18;
}

#summary-title .text {
    -fx-font-family: 'A J Kunheing 6';
    -fx-font-size: 27;
}

