@font-face {
    font-family: 'VistolSans-Black';
    src: url('../fonts/vistol_sans_black.otf');
}

@font-face {
    font-family: 'NamKhoneUnicode';
    src: url('../fonts/NamKhoneUnicode.ttf');
}

@font-face {
    font-family: 'A J Kunheing 6';
    src: url('../fonts/aj_kunheing6.ttf');
}

.font-aj {
    -fx-font-family: 'A J Kunheing 6';
}



#summary-title {
    -fx-font-family: "A J Kunheing 6";
    -fx-font-size: 32;
}